
.App-content ul {
    list-style-type: none;
}

.App-content li {    
    margin-bottom: 25px ;
}

.App-content li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: block;
    background: #E0FFFF;
    border-radius: 10px;
}

.App-content li a:hover{
    background: #AFEEEE;
}

.button.createNoteButton {
    display: block;
    margin: 30px auto;
}

