
.App-content ul {
    list-style-type: none;
}

.App-content li {    
    border: 1px solid blue;
    margin-bottom: 25px ;
}

.App-content li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: block;
    background: #E0FFFF;
}

.App-content li a:hover{
    background: #AFEEEE;
}


