html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background: #FFF0F5
}

.button {
  border-radius: 10px;
  background: #EEE8AA;
  line-height: 20px;
  height: 30px;
  padding: 5px;
  color: black;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  min-width: 55px;
  margin-bottom: 20px;
  text-decoration: none;
}

.button:hover {
  background: #FFDAB9;
}

button, 
button:active, 
button:focus {
    outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

label {
  display: inline-block;
  min-width: 100px;
}